* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

.productos {
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;}

.img-container {
    display: flex;
    justify-content: center;
}
.img-prod{
    width: 200px;
}

.titulo-container {
    padding: 10px;
}


.descripcion-container {
    padding: 10px;
}

.precio-container {
    padding: 10px;
    gap: 20px;
}